// 颜色定义规范
$color-background = #151618
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #222
$color-dialog-background = #8F8E94
$color-theme = #FF9500
$color-theme-d = rgba(255, 149, 0, 0.5)
$color-sub-theme = #d93f30
$color-text = #fff
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)
$color-button-default = #0076FF
$color-button-warning = #FE2851
$color-button-genres = #5856D6
$color-button-transparent = rgba(0,0,0,0)

//字体定义规范
$font-size-small-s = 12px
$font-size-small = 15px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
$font-size-button-default = 13px

// 布局定义规范
$container-padding-size = 0 18px

// border定义规范
$border-default-1 = 1px solid rgba(209,209,214,.2)